@charset "utf-8";

.banner_1 {
	width: 1060px; 
	height: 66px; 
	position: relative; 
	display: block; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	-webkit-touch-callout: none; 
	-khtml-user-select: none; 
	-ms-touch-action: pan-y; 
	touch-action: pan-y; 
	-webkit-tap-highlight-color: transparent; 
}

.banner_1 .slick-list {
	position: relative; 
	display: block; 
	overflow: hidden; 
	margin: 0; 
	padding: 0; 
}

.banner_1 .slick-list:focus {
	outline: none; 
}

.banner_1 .slick-list.dragging {
	cursor: pointer; 
	cursor: hand; 
}

.banner_1 .slick-track, 
.banner_1 .slick-list {
	-webkit-transform: translate3d(0, 0, 0); 
	-moz-transform: translate3d(0, 0, 0); 
	-ms-transform: translate3d(0, 0, 0); 
	-o-transform: translate3d(0, 0, 0); 
	transform: translate3d(0, 0, 0); 
}

.banner_1 .slick-track {
	position: relative; 
	top: 0; 
	left: 0; 
	display: block; 
}

.banner_1 .slick-track:before, 
.banner_1 .slick-track:after {
	display: table; 
	content: ''; 
}

.banner_1 .slick-track:after {
	clear: both; 
}

.banner_1 .slick-loading .slick-track {
	visibility: hidden; 
}

.banner_1 .slick-slide {
	display: none; 
	float: left; 
	height: 100%; 
	min-height: 1px; 
}

[dir='rtl'] .banner_1 .slick-slide {
	float: right; 
}

.banner_1 .slick-slide img {
	display: block; 
	border: 0px solid #FFF; 
	width: 207px; 
	height: 66px; 
}

.banner_1 .slick-slide.slick-loading img {
	display: none; 
}

.banner_1 .slick-slide.dragging img {
	pointer-events: none; 
}

.banner_1.slick-initialized .slick-slide {
	display: block; 
}

.banner_1 .slick-loading .slick-slide {
	visibility: hidden; 
}

.banner_1.slick-vertical .slick-slide {
	display: block; 
	height: auto; 
	border: 1px solid transparent; 
}

.banner_1 .slick-loading .slick-list {
	background: #fff url('/img/jquery-ui/ajax-loader.gif') center center no-repeat; 
}

.banner_1 .slick-prev {
	position: absolute; 
	top: 0%; 
	left: 0%; 
	display: block; 
}

.banner_1 .slick-next {
	position: absolute; 
	bottom: 50%; 
	left: 0%; 
	display: block; 
}

.banner_1 .slick-stop, .slick-play {
	position: absolute; 
	bottom: 0%; 
	left: 0%; 
	display: block; 
}

